<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
            margin-bottom: 50px;
        }

        h1 {
            text-align: center;
            color: #333;
            font-size: 30px;
        }

        

        /*.course {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            transition: transform 0.3s ease-in-out;
        }

        .course:hover {
            transform: scale(1.05);
        }

        .course img {
            width: 200px;
            height:500px;
            object-fit: cover;
        }*/
        .course
        {
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border:2px solid black;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 1rem;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            width: auto;
            
        }
        .course:hover
        {
            transform: scale(0.9,0.9);
            transition: 0.2s ease-in-out;
        }
        
        .course-info {
            padding: 15px;
            font-size: 35px;
            display: flex;
            flex-direction: column;
            align-items:center ;
            justify-content: center;
            
        }

        .course-title {
            font-size: 38px;
            margin-bottom: 10px;
            color: #333;
        }

        .course-description {
            font-size: 24px;
            color: #666;
            margin-bottom: 10px;
        }

        .enroll-button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .enroll-button:hover {
            background-color: #45a049;
        }
    </style>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="/css/style3.css">
    <title>Your Course List</title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="https://www.pursuitsoftware.com/" target="_blank">  <img src="/img_src/logo_pursuit.jpg" alt="Logo" > </a>
            <h2 style="color: white;">Information Security Awareness Program</h2>
        </div>
        <ul class="menu">
            <li><a href="/betutor">Be a Tutor</a></li>
            <li><a href="/logout">Logout</a></li>
            
        </ul>
        <div class="user-profile">
           <a href="#"> <img src="/img_src/user_icon.png" alt="User Profile"> </a>
            <span>Welcome,<%= user_name %></span>
        </div>
    </nav>

    <div class="container">
        <h1>Course List</h1>

        <div class="course-grid">
            <!-- Course 1 -->
            <div class="course">
                <!--<img src="img_src/cybersec.png" alt="Course 1 Image">-->
                <div class="course-info">
                    <div class="course-title">Information Security 101</div>
                    <div class="course-description">Know all the basic of Information security. Cover all the basic for beginers</div>
                    <a href="/enroll" class="enroll-button">Enroll
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-right"><path d="M18 8L22 12L18 16"/><path d="M2 12H22"/></svg>
                    </a>
                </div>
            </div>
<!--here goes the courses-->
                
        </div>
    </div>

</body>
</html>
